<% include ../partials/header %>
<div class="container">
   <div class="thumbnail">
       <table id="payments">
            <tr>
                <% if(show){ %>
                    <th>Direcci&oacute;n</th>
                <% } %>
                <th>Descripci&oacute;n</th>
                <th>Cantidad</th>
            </tr>
            <% if(show){ %>
                <% allUsers.forEach(function(otherUser){ %>
                    <% if(otherUser.payments.length >0 ){ %>
                            <% otherUser.payments.forEach(function(payment){ %>
                                <tr>
                                <th><%= otherUser.address %></th>
                                <th><%= payment.description %></th>
                                <th>$<%= payment.quantity %></th>
                                <form method="POST" action="/payment/<%=payment._id%>/<%=otherUser._id%>?_method=DELETE">
                        	        <th><button class="btn">Eliminar</button></th>
                        	    </form>
                            <% }); %>
                        </tr> 
                    <% } %> 
                <% }); %>
                    
                   
                        
               <% }else{ %>
                   <% if(payment.length > 0){ %>
                       <% payment.forEach(function(payment){ %>
                            <tr>
                            <th><%= payment.description %></th>
                            <th><%= payment.quantity %></th>
                            </tr>
                        <% }); %>
                       <% }else{ %>
                       <!-- Aun no tienes pagos registrados -->
                    <% } %>    
                    
                <% } %>
    
        </table>
   </div> 
</div>



<% include ../partials/footer %>