<% include ../partials/header %>
<div class="container">
   <div class="thumbnail">
       <table id="payments">
            <tr>
                <% if(show){ %>
                    <th>Direcci&oacute;n</th>
                <% } %>
                <th>Descripci&oacute;n</th>
                <th>Cantidad</th>
            </tr>
           
            <% if(show){ %>
                 <% allUsers.sort(function(a, b){
                    if(a.address < b.address) return -1;
                    if(a.address > b.address) return 1;
                    return 0;
                    }); %>
                <% allUsers.forEach(function(otherUser){ %>
                    <% if(otherUser.payments.length >0 ){ %>
                            <% otherUser.payments.forEach(function(payment){ %>
                                <tr>
                                <th><%= otherUser.address %></th>
                                <th><%= payment.description.substring(0,60); %></th>
                                <th>$<%= payment.quantity %></th>
                                <th>
                                <input type="button" class="btn d-inline"onclick="location.href='/payments/<%=payment._id%>/edit';" value="Editar" />
                                <form method="POST" id="inline"action="/payments/<%=payment._id%>/<%=otherUser._id%>?_method=DELETE">
                        	        <button class="btn d-inline">Eliminar</button>
                        	    </form>
                        	    </th>
                            <% }); %>
                        </tr> 
                    <% } %> 
                <% }); %>
                    
                   
                        
               <% }else{ %>
                   <% if(payment.length > 0){ %>
                       <% payment.forEach(function(payment){ %>
                            <tr>
                            <th><%= payment.description.substring(0,60); %></th>
                            <th>$<%= payment.quantity %></th>
                            </tr>
                        <% }); %>
                       <% }else{ %>
                       <!-- Aun no tienes pagos registrados -->
                    <% } %>    
                    
                <% } %>
    
        </table>
   </div> 
</div>



<% include ../partials/footer %>