<% include ../partials/header %>
	<div class="container">
		<div class="jumbotron">
  			<h1>Tabla de usuarios</h1>
  			
  			<% if(user.admin){ %>
				<a href="/register" class="btn btn-success">Agregar nuevo</a>
			<% } %>  
		</div>
	</div>	
	
    <div class="container">
       <div class="thumbnail">
           <table id="payments">
                <tr class="tablaPrimero">
                    
                    <th>Nombre de usuario</th>
                    <th>Dirección</th>
                    <th>Tel&eacute;fono</th>
                    <th>Referencia Bancaria</th>
                    <th>Bloqueado</th>
                    <th>Administrador</th>
                    
                </tr>
                <% allUsers.sort(function(a, b){
                    if(a.username.toLowerCase() < b.username.toLowerCase()) return -1;
                    if(a.username.toLowerCase() > b.username.toLowerCase()) return 1;
                    return 0;
                    }); %>
                <% allUsers.forEach(function(otherUser){ %>
                    <tr>
                        <th><a href="/user/edit/<%=otherUser._id %>"><%=otherUser.username %></a></th>                
                        <th><%=otherUser.address %></th>                
                        <th><%=otherUser.phone %></th>                
                        <th><%=otherUser.reference %></th>   
                        <% if (otherUser.blocked){ %>
                        <th>Si</th>
                        <% }else{ %>
                        <th>No</th>
                        <% } %>
                        <% if (otherUser.admin){ %>
                        <th>Si</th>
                        <% }else{ %>
                        <th>No</th>
                        <% } %> 
                    </tr>
                <% }); %> 
            </table>
       </div> 
    </div>



<% include ../partials/footer %>