<% include ../partials/header %>





<div class="container">
	<div class="jumbotron"> 
		<h1>Mantenimiento</h1>
		<h3>Aqu&iacute; podr&aacute;s encontrar los datos de la gente de mantenimiento del condominio</h3>
		<% if(user.admin){ %>
		<div class="row">
		    <a href="/regulation/new" class="btn btn-success">Agregar nuevo</a>
		</div>
        <% } %>
	</div>
</div>

<div class="container">
	<div class="row">
        <% maintenance.forEach(function(maintenance){ %>
            <div class="col-md-6 col-sm-12">
        	    <div class="thumbnail">
        		    <div class="row">
        			    <div class="col-xs-4">
        			        <img src="<%= maintenance.image %>" class="img-responsive img-rounded" alt="Responsive image" id="image">
                        </div>
        				<div class="col-xs-8">
        				    <h1><%= maintenance.name %></h1>
        				   <h3> <%= maintenance.job %></h3>
        				    <% if(user.admin){ %>
        				    <div class="row">
        				        <div class="col-md-2 col-sm-12 butt">
            				        <input type="button" class="btn btn-info butt"onclick="location.href='/maintenance/<%=maintenance._id%>/edit';" value="Editar" />
            				    </div>
            				    <div class="col-md-2 col-sm-12 butt">
            				        <form method="POST" action="/maintenance/<%=maintenance._id%>?_method=DELETE">
            				            <button class="btn btn-danger">Eliminar</button>
            				        </form>
            				    </div>    
            				    
        				    </div>
        				    <% } %>
        				    
        				</div>
        			</div>	
        		</div>
        	</div>
        <% }) %>
    </div>
</div>
<% include ../partials/footer %>
